body {
  font-family: "JetBrains Mono", Helvetica, sans-serif;
  font-size: 20px;
  background: linear-gradient(90deg, #745fff, #937bfe);
}

.block {
  height: 550px;
  width: 500px;
  background-color: #cfe0ff;
  margin: auto;
  margin-top: 200px;
  border-radius: 25px;
  border: 3px solid #919eb6;
}

.block:hover{
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transition: 1s;
  transform: translateY(-5px);
}

.login {
  margin-left: 190px;
}

.email {
  margin-left: 125px;
  margin-top: 20px;
  background-color: rgba(207, 224, 255, 0);
  border: none;
  border-bottom-style: solid;
  outline: none;
  font-size: 20px;
}

.password {
  margin-left: 125px;
  margin-top: 50px;
  background-color: rgba(207, 224, 255, 0);
  border: none;
  border-bottom-style: solid;
  outline: none;
  font-size: 20px;
}

.button {
  background-color: #7db4f3;
  border: none;
  width: 200px;
  height: 50px;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
  font: bold 20px "JetBrains Mono", Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #7b9ec9;
  transform: scale(1.05);
}

.button:active {
  background-color: #3a5067;
  transform: scale(0.95);
}

